

<div class="register">


    <h2>Registration Form</h2>


    <!-- <div><div *ngIf="dashboardToShow==5">
    <app-chat></app-chat>
    </div> -->
    UserName:<input type="text" [(ngModel)]="app.username"><br>
    Password:<input type="password" [(ngModel)]="app.password"><br>
    Email:<input type="text" [(ngModel)]="app.email"><br>
    Mobile:<input type="text" [(ngModel)]="app.mobile"><br><br>
    
<button (click)="add()">Sure to Register</button><br>
<button (click)="app.WhatToShow=0" >LoginNow</button><br>
    
</div>